* {
  margin: 0;
  padding: 0;
}

@keyframes mover-icono {
  10% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.zoom, .mian-electrodomesticos section .grid img, .header-electrodomesticos nav div ul li a, .header-electrodomesticos img, .header-index nav div ul li a, .header-index h1, .header-index img {
  transition: all 0.3s;
}
.zoom:hover, .mian-electrodomesticos section .grid img:hover, .header-electrodomesticos nav div ul li a:hover, .header-electrodomesticos img:hover, .header-index nav div ul li a:hover, .header-index h1:hover, .header-index img:hover {
  transform: scale(1.09);
}

/*Index*/
.header-index {
  background: rgb(89, 122, 255);
  background: linear-gradient(0deg, rgb(89, 122, 255) 31%, rgb(250, 252, 255) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.header-index img {
  height: 90px;
  border-radius: 50%;
}
.header-index h1 {
  margin-left: 250px;
  padding: 0px 250px 0px 350px;
  font-size: 60px;
  font-weight: bold;
}
.header-index h1:hover {
  text-shadow: 4px 4px 4px #fff;
}
.header-index nav div ul li a {
  font-size: 20px;
  color: #000 !important;
}
.header-index nav div ul li a:hover {
  text-shadow: 4px 4px 4px #fff;
}

/*Electrodomesticos*/
.header-electrodomesticos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 117, 255);
  background: radial-gradient(circle, rgb(0, 117, 255) 4%, rgb(255, 255, 255) 100%);
}
.header-electrodomesticos img {
  height: 90px;
  border-radius: 50%;
  margin: 10px;
  margin-left: 100px;
}
.header-electrodomesticos nav div ul li a {
  font-size: 25px;
  color: #000 !important;
  transition: all 0.5;
}
.header-electrodomesticos nav div ul li a:hover {
  text-shadow: 2px 2px 16px rgb(209, 102, 221), 4px 4px 16px #d66, 2px 2px 7px rgb(221, 197, 102);
}
.header-electrodomesticos h1 {
  font-weight: 900;
  margin-right: 100px;
}

/*Main Index*/
.main-index {
  background: rgb(135, 159, 255);
  background: linear-gradient(194deg, rgb(135, 159, 255) 29%, rgb(250, 252, 255) 100%);
}
.main-index section h2 {
  padding: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*Main Electrodomesticos*/
.mian-electrodomesticos {
  background: rgb(0, 117, 255);
  background: linear-gradient(174deg, rgb(0, 117, 255) 4%, rgb(255, 255, 255) 100%);
}
.mian-electrodomesticos section h2 {
  text-align: center;
  padding: 50px 0px 50px 0px;
  font-weight: bold;
}
.mian-electrodomesticos section h2:hover {
  text-shadow: 4px 4px 4px #fff;
}
.mian-electrodomesticos section .grid {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.mian-electrodomesticos section .grid img {
  height: 90%;
  width: 100%;
  object-fit: contain;
  background: rgb(0, 117, 255);
  background: linear-gradient(174deg, rgb(9, 68, 136) 4%, rgb(255, 255, 255) 100%);
}
.mian-electrodomesticos section .grid img:hover {
  -webkit-box-shadow: 1px -5px 100px 111px rgb(0, 252, 218);
  -moz-box-shadow: 1px -5px 100px 111px rgb(83, 143, 253);
  box-shadow: 1px -5px 100px 11px rgb(147, 157, 250);
}

.main-index section .card-index {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 300px;
  gap: 30px;
}
.main-index section .card-index .card {
  border-radius: 10px;
  border: 2px solid #000;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  margin-bottom: 50px;
  transition: all 1s;
}
.main-index section .card-index .card:hover {
  -webkit-box-shadow: 0px 6px 67px 18px rgb(238, 174, 202);
  -moz-box-shadow: 0px 6px 67px 18px rgb(238, 174, 202);
  box-shadow: 0px 6px 67px 18px rgb(238, 174, 202);
}

/*Footer Index*/
.footer-index {
  background: rgb(135, 159, 255);
  background: linear-gradient(353deg, rgb(135, 159, 255) 29%, rgb(250, 252, 255) 100%);
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-index ul li {
  display: inline-block;
}
.footer-index ul li a {
  margin: 50px;
}
.footer-index ul li a img {
  animation-name: mover-icono;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

/*Footer Electrodomesticos*/
.footer-electrodomesticos {
  background: rgb(0, 117, 255);
  background: radial-gradient(circle, rgb(0, 117, 255) 0%, rgb(0, 0, 0) 100%);
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-electrodomesticos ul li {
  display: inline-block;
  padding-top: 25px;
}
.footer-electrodomesticos ul li a {
  margin: 50px;
}
.footer-electrodomesticos ul li a img {
  animation-name: mover-icono;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
