/*Carrusel de Comidas*/

.main-comidas {
  section {
    div {
      div {
        div {
          img {
            height: 600px;
            object-fit: cover;
            object-position: center 70%;
          }
        }
      }
    }
  }
}
